@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Cuenta Bloqueada";
    Layout = "~/Views/Shared/_LayoutLockout.cshtml";
}

<hgroup>
    <h1 class="text-danger">Cuenta Bloqueda.</h1>
    <img src="~/Content/bloqueo.png" style="width:20%;"/>
    <h2 class="text-danger">Esta cuenta ha sido bloqueada por sobrepasar los intenteos de acceso permitidos.</h2>
    <h4 class="text-danger">Intentelo más tarde o comuníquese con el encargado del sistema.</h4>
</hgroup>
