@model IEnumerable<web.Models.Paises>

@{
    ViewBag.Title = "Paises";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-4 col-md-4">
    <h2>Paises</h2>

    <p>
        @Html.ActionLink("Registrar nuevo país", "Create",null,new { @class="btn btn-success btn-block"})
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>Opciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdPais }) 
                    @*@Html.ActionLink("Details", "Details", new { id = item.IdPais }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.IdPais })*@
                </td>
            </tr>
        }

    </table>
</div>